@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;

    var siteRoot = Model.Root();
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Brandon Osborne">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>@Model.Root().GetProperty("siteTitle").Value()</title>
    
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" crossorigin="anonymous">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="https://coderpro.net" target="_top"><img alt="coderPro.net" class="img-fluid" src="~/Images/coderPro_logo_rounded_extra.png" style="max-height: 75px;" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @Umbraco.RenderMacro(@"Navigation")

        @if (!Convert.ToBoolean(siteRoot.GetProperty("HideSearch").GetValue()))
        {
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        }
    </nav>

    @RenderBody()

    <footer class="container">
        <p>@siteRoot.GetProperty(@"FooterContent").GetValue()</p>
    </footer>
    <script src="~/Scripts/jquery-3.3.1.slim.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.bundle.js" crossorigin="anonymous"></script>
</body>
</html>
