@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.PartialViewMacroModel>

<div class="my-2 my-lg-0">
    @if (Umbraco.MemberIsLoggedOn())
    {
        <text>
            <ul class="nav navbar-nav">
                <li class="nav-item navbar-text">
                    Welcome, @Umbraco.Member(Umbraco.MembershipHelper.GetCurrentMemberId()).Name
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Umbraco/Surface/Authentication/Logout">Logout</a>
                </li>
            </ul>
        </text>
    }
    else
    {
        <text>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </text>
    }
</div>