body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.success {
    color: #080;
    font-weight: bold;
}

.error {
    color: #f00;
    font-weight: bold;
}

.field-validation-error {
    color: #800000;
}

main > :first-child {
    padding-top: 150px;
}