@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SimplePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";

    var pageTitle = string.IsNullOrEmpty(this.Model.PageTitle) ? this.Model.Name : this.Model.PageTitle;
    var success = Request.QueryString["success"];
}

<main role="main">
    <div class="container">
        <h2 class="display-4">@pageTitle</h2>
    </div>
    @if (!string.IsNullOrEmpty(success))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="@(success == "True" ? "alert-success" : "alert-danger")">Your message was @(Request.QueryString["Success"] == "True" ? " successfully sent!" : " not sent! Check your form input and try again later.")</div>
                </div>
            </div>
        </div>
    }
    <div class="container">
        <p>
            @this.Model.BodyContent
        </p>
    </div>
</main>